* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F0F0F0;
}

#container {
    position: relative;
    width: 200px;
    height: 200px;
}

#sphere {
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 50%;
    animation: explode 2s forwards ease-in-out;
}

@keyframes explode {
    to {
        transform: scale(0);
        opacity: 0;
    }
}